.toggler {
    width: max-content;
}

.toggler-label {
    margin-right: 10px;
}

.inputs{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.formularios {
    margin: 20px;
}

.accion {
    margin: 0px;
}


.btn-nuevo {
    margin-bottom: 20px
}

.btn-accion-form {
    margin-right: 20px;
}

.info {
    margin-left: 10px;
}

.modal-btn-txt{
    color: white;
}
