<div *ngIf="nuevo || editar" class="card formularios">
    <div class="card-header">
        <strong>{{ nuevo ? "Registrar" : "Editar" }} persona</strong>
    </div>
    <div class="card-body">
        <form [formGroup]="formPersona" action="" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Introduce la información de la persona {{ nuevo ? "a registrar" : "a editar"}}</label>
                <div class="col-md-9">
                    <input formControlName="nombre" type="text" class="form-control inputs" placeholder="Nombre">
                    <input formControlName="apaterno" type="text" class="form-control inputs" placeholder="Apellido Paterno">
                    <input formControlName="amaterno" type="text" class="form-control inputs" placeholder="Apellido Materno">
                    <input formControlName="direccion" type="text" class="form-control inputs" placeholder="Dirección">
                    <input formControlName="telefono" type="text" class="form-control inputs" placeholder="Teléfono">
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button (click)="submitPersona()" class="btn btn-sm btn-success btn-accion-form"><i class="fa fa-dot-circle-o"></i>{{ nuevo ? "Registrar" : "Editar" }}</button>
        <button (click)="resetForm()" class="btn btn-sm btn-danger btn-accion-form"><i class="fa fa-ban"></i> Cancelar</button>
    </div>
</div>

<div *ngIf="!nuevo && !editar" class="card formularios">

    <div class="card-header">
        Lista de personas
    </div>

    <div class="card-body">
        <form class="form-horizontal">
            <button class="btn btn-success btn-nuevo" (click)="nuevo = true;">Crear nuevo</button>
            <div class="form-group row">
                <div class="col-md-9">
                    <input [(ngModel)]="buscadorPersona" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Buscar persona por Nombre, Apellido, etc...">
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>A. Paterno</th>
                    <th>A. Materno</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas2 | filter: buscadorPersona">
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apaterno }}</td>
                    <td>{{ persona.amaterno }}</td>
                    <td>{{ persona.telefono }}</td>
                    <td>{{ persona.telefono }}</td>
                    <td>
                        <div class="d-flex">
                            <fa-icon (click)="personaSel = persona; mostrarModal(modalInfo)" class="accion" [icon]="faEye"></fa-icon>
                            <fa-icon (click)="updatePersona(); personaSel = persona;" class="accion" [icon]="faEdit"></fa-icon>
                            <fa-icon (click)=" personaSel = persona; mostrarModal(templateModal)" class="accion" [icon]="faTrash"></fa-icon>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<ng-template #templateModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Eliminar persona</h4>
    </div>
    <div class="modal-body">
        ¿Seguro que desea eliminar a esta persona?
    </div>
    <div class="modal-footer">
        <button (click)="cerrarModal()" type="button" class="btn btn-default">Cancelar</button>
        <button (click)="deleteP()" type="button" class="btn btn-danger">Eliminar</button>
    </div>
</ng-template>

<!-- Modal -->
<ng-template #modalInfo>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Información de la persona</h4>
    </div>
    <div class="modal-body">
        <div class="d-flex">
            <strong>Nombre: </strong><p class="info"> {{personaSel.nombre }} </p>
        </div>
        <div class="d-flex">
            <strong>A. Paterno: </strong><p class="info"> {{ personaSel.apaterno }} </p>
        </div>
        <div class="d-flex">
            <strong>A. Materno: </strong><p class="info"> {{ personaSel.amaterno }} </p>
        </div>
        <div class="d-flex">
            <strong>Dirección: </strong><p class="info"> {{ personaSel.direccion }} </p>
        </div>
        <div class="d-flex">
            <strong>Teléfono: </strong><p class="info"> {{ personaSel.telefono }} </p>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <div class="d-flex">
            <button (click)="deleteP()" type="button" class="btn btn-danger btn-accion-form">Eliminar</button>
            <button (click)="updatePersona()" type="button" class="btn btn-info btn-accion-form">Editar</button>
        </div>
        <button (click)="cerrarModal()" type="button" class="btn btn-default">Cerrar</button>
        
    </div>
</ng-template>